*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/src/main/res/font/kopubworld 2.xml
app/src/main/res/font/kopubworlddotumbold 2.ttf
app/src/main/res/font/kopubworlddotummedium 2.ttf
app/src/main/res/font/kopubworlddotumlight 2.ttf
